/* #region Defaults */
:root {
  /* Fonts */
  --main-fnt: 'Roboto', sans-serif;
  --logo-fnt: 'Raleway', sans-serif;

   /* Colors */
   --slate: #434455;
   --white: #ffffff;
   --iris: #4d5ae5;
   --navy-blue: #2e2f42;
   --cloud: #f4f4fd;
   --cornflower: #e7e9fc;
   --ocean: #404bbf;
   --light-slate: #8e8f99;
   --green: #31d0aa;
   --dairy: #fcfcfc;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);

  /* Transitions */
  --standard-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  /* Sizes */
  --container-padding: 15px;
  --breakpoint-lg: 1158px;
}

body {
  /* Fonts */
  font-family: var(--main-fnt);
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;

  /* Colors */
  background-color: var(--white);
  color: var(--slate);
}

.container {
  max-width: var(--breakpoint-lg);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin: 0 auto;
}

/* Reset */

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--iris);
  transition: background-color var(--standard-transition), border var(--standard-transition);
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}

address {
  font-style: normal;
}

/* Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
}

h2,
h3 {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

p {
  line-height: 1.5;
  color: var(--slate);
}

a {
  display: inline-block;
  font-weight: 500;
  color: var(--navy-blue);
}

.space {
  flex: 1;
}

.section {
  padding: 96px 0;
}

@media (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.logo {
  font-family: var(--logo-fnt);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
}

.logo-light {
  color: var(--cloud);
}

.logo-dark {
  color: var(--navy-blue);
}

.socials {
  display: flex;
  gap: 16px;
}

.socials-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);
  cursor: pointer;
  transition: background-color var(--standard-transition);
}

.social-icon {
  fill: var(--cloud);
}

.socials-link:hover,
.socials-link:active,
.socials-link:focus {
  background-color: var(--green);
}

.mobile-menu .socials {
  justify-content: space-between;
}

.team-member-container .socials {
  justify-content: center;
}
/* #endregion */

/* #region Header */
.header .container {
  line-height: 1.5;
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 16px;
}

@media (min-width: 768px) {
  .header .container {
    padding: 0 16px 0 16px;
  }
}

@media (min-width: 1158px) {
  .header .container {
    padding: 0px;
  }
}

.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.container .header-menu {
  display: none;
  align-items: center;
  gap: 40px;
}

@media (min-width: 768px) {
  .container .header-menu {
    display: flex;
  }
}

.header .logo {
  margin-right: 76px;
}

.header-item-link {
  padding: 24px 0;
  color: var(--navy-blue);
  transition: color var(--standard-transition);
}

.header-item-link.current::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: var(--ocean);
}

.header-item-link:hover,
.header-item-link {
  position: relative;
}

.header-address-list {
  display: none;
  flex-direction: column;
  gap: 12px;
  align-items: left;
}

@media (min-width: 768px) {
  .header-address-list {
    display: flex;
  }
}

@media (min-width: 1158px) {
  .header-address-list {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
}

.header-address-item-link {
  padding: 0;
  font-size: 12px;
  color: var(--slate);
  transition: color var(--standard-transition);
}

@media (min-width: 1158px) {
  .header-address-item-link {
    padding: 24px 0;
    font-size: 1rem;
  }
}

.header-item-link:active,
.header-item-link:focus,
.header-item-link:hover,
.header-address-item-link:hover,
.header-address-item-link:active,
.header-address-item-link:focus {
  color: var(--ocean);
}


.header .container .header-address {
  font-style: normal;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header .container .header-address {
    margin: auto 0;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  background-color: var(--white);
  padding: 72px 24px 40px 16px;
}

.mobile-menu.is-open {
  display: flex;
}

.mobile-menu .header-item-link::after {
  display: none;
}

.mobile-menu .header-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu .header-nav .header-item-link {
  font-size: 36px;
  font-weight: 700;
  padding: 0;
}

.mobile-menu .header-address {
  margin-bottom: 48px;
}

.mobile-menu .header-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu .header-address-item-link {
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.4px;
}
/* #endregion */

/* #region Hero */
.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 72px 52px;
  background: var(--navy-blue);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-background_320.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-background_768.jpg');
  }
}

@media (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-background.jpg');
  }
}

@media (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-background_320_x2.jpg');
  }
}

@media (min-resolution: 2x) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-background_768_x2.jpg');
  }
}

@media (min-resolution: 2x) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/hero-background_x2.jpg');
  }
}

@media (min-width: 768px) {
  .hero {
    padding: 112px 136px;
  }
}

@media (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-title {
  max-width: 496px;
}

.btn-service {
  min-width: 169px;
  padding: 16px 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--standard-transition);
}

.btn-service:hover,
.btn-service:active,
.btn-service:focus {
  background-color: var(--ocean);
}
/* #endregion */

/* #region Features */
.features-list {
  display: grid;
  justify-items: center;
  gap: 24px;
}

.features-item {
  flex: 1;
  width: 288px;
}

.feature-icon-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  background: var(--cloud);
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .features-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1158px) {
  .features-list {
    display: flex;
  }
  
  .feature-icon-container {
    display: flex;
  }
}

.feature-caption {
  margin-bottom: 8px;
  text-align: center;
}

@media (min-width: 768px) {
  .feature-caption {
    text-align: left;
  }
}

@media (max-width: 1158px) {
  .feature-caption {
    font-size: 36px;
  }
}
/* #endregion */

/* #region Team */
.team {
  background: var(--cloud);
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: grid;
  justify-content: center;
  gap: 72px;
}

@media (min-width: 768px) {
  .team-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-member {
    justify-self: end;
  }

  .team-member:nth-child(2n) {
    justify-self: start;
  }
}

@media (min-width: 1158px) {
  .team-list {
    display: flex;
    gap: 24px;
  }
}

.team-member {
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  line-height: 24px;
  text-align: center;
}

.team-member-name {
  margin-bottom: 8px;
  line-height: 24px;
}

.team-member-title {
  font-size: 16px;
  margin-bottom: 8px;
}

.team-member-container {
  padding: 32px 0;
}
/* #endregion */

/* #region Portfolio */
.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  width: 100%;
  display: grid;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.portfolio-item {
  flex: 1;
  flex-basis: 100%;
  box-shadow: transparent;
  transition: box-shadow var(--standard-transition);
}

@media (min-width: 768px) {
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-item {
    justify-self: end;
  }

  .portfolio-item:nth-child(2n) {
    justify-self: start;
  }
  .portfolio-item {
    flex-basis: calc(50% - 24px * 1);
  }
}

@media (min-width: 1158px) {
  .portfolio-list {
    display: flex;
  }
  .portfolio-item {
    flex-basis: calc(33% - 24px * 2);
  }
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform: translateY(100%);
  padding: 40px 32px;
  background-color: var(--iris);
  color: var(--cloud);
  line-height: 24px;
  letter-spacing: 0.32px;
  transition: transform var(--standard-transition);
}

.portfolio-item:hover .overlay-text,
.portfolio-item:active .overlay-text {
  transform: translateY(0%);
}

.portfolio-item:hover,
.portfolio-item:active {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-container {
  padding: 32px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--cornflower);
  border-top: none;
}

.portfolio-item-caption {
  margin-bottom: 8px;
  line-height: 24px;
}

/* #endregion */

/* #region Footer */
.footer {
  padding: 100px 0;
  background: var(--navy-blue);
}

@media (min-width: 768px) {
  .footer {
    padding: 96px 0px;
  }
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 72px;
}

.footer-cta-container .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-cta {
  width: 264px;
  color: var(--cloud);
  text-align: left;
}

.social-media-title {
  color: var(--white);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .footer .container {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    text-align: left;
    padding: 0px 108px;
  }

  .subscribe-container {
    flex-basis: 100%;
  }
}

@media (min-width: 1158px) {
  .footer .container {
    gap: unset;
    padding: 0px;
  }

  .footer > .container > div:first-child {
    margin-right: 120px;
  }

  .socials-footer {
    margin-right: 80px;
  }

  .subscribe-container {
    flex-basis: unset;
  }
}

.subscribe-label-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.email-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  align-items: center;
}

@media (min-width: 768px) {
  .email-form {
    flex-direction: row;
    justify-content: left;
    align-items: end;
  }
}

.subscribe-label {
  letter-spacing: 0.04em;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  flex-shrink: 0;

  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: transparent;
  padding: 8px 16px;

  color: var(--white);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-input::placeholder {
  color: var(--white);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  fill: var(--white);
}

.subscribe-btn-icon {
  margin-left: 16px;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: var(--navy-blue-modal);
  z-index: 1000;
  overflow: auto;
  overscroll-behavior: contain;
  transition: opacity var(--standard-transition), visibility var(--standard-transition);
}

.backdrop::-webkit-scrollbar {
  width: 0;
}

.backdrop.is-open {
  display: block;
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 16px * 2);
  min-height: 584px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform var(--standard-transition);
}

@media (min-width: 768px) {
  .modal {
    width: 480px;
  }
}

.modal-window-title {
  color: var(--navy-blue);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.comment {
  margin-bottom: 16px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: var(--light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: color var(--standard-transition);
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  bottom: 4px;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: var(--navy-blue);
  transition: fill var(--standard-transition);
}

.modal-form-input,
.modal-form-comment {
  width: 100%;
  outline: transparent;
  height: 40px;
  padding: 8px 16px 8px 38px;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.04em;
  transition: border-color var(--standard-transition);
}

.modal-form-comment {
  padding: 8px 16px;
  height: 120px;
  line-height: 1.17;
  resize: none;
  color: var(--navy-blue-modal);
}

.modal-form-field:focus-within .modal-form-input,
.modal-form-field:focus-within .modal-form-comment {
  border-color: var(--iris);
}

.modal-form-field:focus-within .modal-form-label {
  color: var(--iris);
}

.modal-form-field:focus-within .modal-form-icon {
  color: var(--iris);
  fill: var(--iris);
}

.modal-form-input::placeholder,
.modal-form-comment::placeholder {
  color: var(--navy-blue-modal);
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.48px;
}

.modal-form-checkbox-container {
  margin-bottom: 24px;
}

.modal-form-agreement {
  color: var(--light-slate);
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  cursor: pointer;
}

.modal-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  fill: transparent;
  transition: border var(--standard-transition), background-color var(--standard-transition), fill var(--standard-transition);
}

.modal-form-checkbox-input:checked + .modal-form-agreement .modal-form-checkbox {
  background: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-agreement a {
  color: var(--iris);
  font-size: 12px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.modal-btn,
.close-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--standard-transition), border var(--standard-transition);
}

.close-menu-btn-icon,
.close-menu-btn {
  min-width: 100%;
  transition: fill var(--standard-transition);
}

.close-menu-btn {
  min-width: unset;
  background-color: transparent;
}

.menu-btn {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.modal-btn:hover,
.modal-btn:focus,
.close-menu-btn:hover,
.close-menu-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon,
.close-menu-btn:hover .close-menu-btn-icon,
.close-menu-btn:focus .close-menu-btn-icon {
  fill: var(--white);
}

.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color var(--standard-transition);
}

.subscribe-btn:hover,
.modal-submit-btn:hover {
  background-color: var(--ocean);
}
/* #endregion */

/* #regopn Overwrites */
.current {
  color: var(--ocean);
}
/* #endregion */